{#
SPDX-FileCopyrightText: 2023 Julian-Samuel Gebühr
SPDX-FileCopyrightText: 2023 - 2025 Slavi Pantaleev

SPDX-License-Identifier: AGPL-3.0-or-later
#}

[Unit]
Description=Firezone VPN ({{ firezone_identifier }})
{% for service in firezone_systemd_required_services_list %}
Requires={{ service }}
After={{ service }}
{% endfor %}
{% for service in firezone_systemd_wanted_services_list %}
Wants={{ service }}
{% endfor %}
DefaultDependencies=no

[Service]
Type=simple
ExecStartPre=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} stop -t {{ devture_systemd_docker_base_container_stop_grace_time_seconds }} {{ firezone_identifier }} 2>/dev/null || true'
ExecStartPre=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm {{ firezone_identifier }} 2>/dev/null || true'

ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} create \
      --rm \
      --name={{ firezone_identifier }} \
      --log-driver=none \
      --cap-drop=ALL \
      --cap-add=NET_ADMIN \
      --cap-add=SYS_MODULE \
      --read-only \
      --sysctl="net.ipv6.conf.all.disable_ipv6=0" \
      --network={{ firezone_container_network }} \
      -p {{ firezone_container_wireguard_host_bind_port }}:{{ firezone_container_wireguard_port }}/udp \
      --env-file={{ firezone_base_path }}/env \
      --label-file={{ firezone_base_path }}/labels \
      --mount type=bind,src={{ firezone_data_path }},dst=/var/firezone \
      {% for arg in firezone_container_extra_arguments %}
      {{ arg }} \
      {% endfor %}
      {{ firezone_container_image }}

{% for network in firezone_container_additional_networks %}
ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} network connect {{ network }} {{ firezone_identifier }}
{% endfor %}

ExecStart={{ devture_systemd_docker_base_host_command_docker }} start --attach {{ firezone_identifier }}

ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} stop -t {{ devture_systemd_docker_base_container_stop_grace_time_seconds }} {{ firezone_identifier }} 2>/dev/null || true'
ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm {{ firezone_identifier }} 2>/dev/null || true'
Restart=always
RestartSec=30
SyslogIdentifier={{ firezone_identifier }}

[Install]
WantedBy=multi-user.target
