{#
SPDX-FileCopyrightText: 2023 Julian-Samuel Gebühr

SPDX-License-Identifier: AGPL-3.0-or-later
#}

{% if firezone_container_labels_traefik_enabled %}
{% if firezone_container_labels_traefik_docker_network %}
traefik.docker.network={{ firezone_container_labels_traefik_docker_network }}
{% endif %}
traefik.enable=true
{% endif %}
traefik.http.routers.{{ firezone_identifier }}.rule=Host("{{ firezone_hostname }}")
traefik.http.routers.{{ firezone_identifier }}.service={{ firezone_identifier }}
traefik.http.routers.{{ firezone_identifier }}.entrypoints={{ firezone_container_labels_traefik_entrypoints }}
traefik.http.routers.{{ firezone_identifier }}.tls.certResolver={{ firezone_container_labels_traefik_tls_certResolver }}
traefik.http.services.{{ firezone_identifier }}.loadbalancer.server.port={{ firezone_webui_bind_port }}

{% for arg in firezone_container_labels_additional_labels %}
{{ arg }}
{% endfor %}
